<div class="modal-wrapper">
  <div class="dialog">
    <div class="modal-header">
      <label>Modal Header</label>
    </div>
    <div class="modal-body" style="line-height: 2;">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries.
    </div>
    <div class="modal-footer">
      <button class="primary-btn" (click)="close()" style="margin-right: 20px;">Cancel</button>
      <button class="primary-btn" (click)="save()">Save </button>
    </div>
  </div>
</div>